.shape {
    height: 0;
    width: 0;
    border-bottom: 30px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }

/*
 TailwindCSSを使いたくない人向けの記述法
 index.tsxのコメントアウトで使用
 */